<div class="img-div" id="img_box">
    <div class="img-wrapper" style="background-image: url(<%- url_for(theme.loading) %>)">
        <div class="img-scroll">
            <img style="background-image: url(<%- url_for(theme.header_home_image) %>);left: 0%;"/>
            <img style="background-image: url(<%- url_for(theme.header_category_image) %>);" />
            <img style="background-image: url(<%- url_for(theme.header_recent_image) %>);" />
        </div>
        <a href="javascript:void(0)" class="img-prev"></a>
        <a href="javascript:void(0)" class="img-next"></a>
        <div class="img-circle-wrapper">
            <span class="hover"></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>