<header class="header">
    <% var bgURL; %>
    <% if (is_home()) { %>
    <% bgURL = theme.header_home_image; %>
    <% } else if (is_current("category")) { %>
    <% bgURL = theme.header_category_image; %>
    <% } else if (is_current("recent")) { %>
    <% bgURL = theme.header_recent_image; %>
    <% } else if (is_current("about")) { %>
    <% bgURL = theme.header_about_image; %>
    <% } %>
    <nav class="header-nav">
        <div class="header-nav-div">
            <a href="/"><img class="header-nav-img" src="<%- url_for(theme.logo) %>" /></a>
            <ul class="header-nav-ul">
                <% for (name in theme.menu) { %>
                    <li class="header-nav-li">
                        <a class="header-nav-a" href="<%- url_for(theme.menu[name]) %>"><%= name %></a>
                    </li>
                <% } %>
            </ul>
        </div>
    </nav>
</header>